<CONFIG>
	<ROOTFOLDER value="/mnt/Tracks"/>
	<SAMPLELIB value="/mnt/Samples"/>
	<AUDIOBUFFERSIZE value='512'/>
	<SCREENMULT value='1'/>  <!-- Don't scale, 240x240 native -->
	<CHANNELMODE value='SPLIT'/>  <!-- SPLIT (default) or PAGED -->
	<KEY_A value="a" />
	<KEY_B value="b" />
	<KEY_LEFT value="l" />
	<KEY_RIGHT value="r" />
	<KEY_DOWN value="d" />
	<KEY_UP value="u" />
	<KEY_LSHOULDER value="m" />
	<KEY_RSHOULDER value="n" />
	<KEY_START value="s" />
	<!-- FunKey/RG Nano OS maps FN/Select to KEY_K. MENU/Power sends KEY_Q. -->
	<KEY_SELECT value="k" />
	<KEY_POWER value="q" />
	<KEYDELAY value="200"/>
	<KEYREPEAT value="100" />
	<FONTTYPE  value = '0' />     <!-- '0':original '1':digital '2':monster 'CUSTOM': load custom_font.xml-->
</CONFIG>
