[Desktop Entry]
Type=Application
Name=LGPT RG Nano
Comment=RG Nano tracker workstation
Exec=lgpt-rgnano.elf
Icon=lgpt
Terminal=false
Categories=applications;

