<CONFIG>
	<ROOTFOLDER value="./rgnano-sim-data/tracks"/>
	<SAMPLELIB value="./rgnano-sim-data/samples"/>
	<AUDIOAPI value="MMSYSTEM"/>
	<AUDIOBUFFERSIZE value="512"/>
	<SCREENMULT value="1"/>
	<CHANNELMODE value="SPLIT"/>
	<DUMPEVENT value="YES"/>
	<KEY_A value="a"/>
	<KEY_B value="b"/>
	<KEY_LEFT value="l"/>
	<KEY_RIGHT value="r"/>
	<KEY_DOWN value="d"/>
	<KEY_UP value="u"/>
	<KEY_LSHOULDER value="m"/>
	<KEY_RSHOULDER value="n"/>
	<KEY_START value="s"/>
	<KEY_SELECT value="q"/>
	<KEY_POWER value="p"/>
	<KEYDELAY value="200"/>
	<KEYREPEAT value="100"/>
	<FONTTYPE value="0"/>
</CONFIG>
